// All global Typography goes here

h1,
h2,
h3,
h4,
h5,
h6, 
li,
a,
p,
dt,
dd {
  font-family: var(--header-font-family);
}

h1,
h2,
h3,{
  letter-spacing: 0.8px;
  font-weight: 400;
}


h4,
h5,
h6 {
  font-weight: 100;
}

li,
a,
p,
dt,
dd {
  line-height: 28px;
  letter-spacing: 0.095px;
}

h1 {
  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 767px) {
    font-size: 1.5rem;
  }
}

h2 {
  @media only screen and (min-width: 768px) {
    font-size:38px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 28px;
  }
}

h3 {
    @media only screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 22px;
  }
}

h4 {
  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}

h5 {
  @media only screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}

h6 {
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 10px;
  }
}

p {
  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 13px;
  }
}