// All variables go here

:root {
  --header-font-family: 'Lato', 'Helvetica Nueue', sans-serif;
  --base-font-family: 'Open Sans Condensed', sans-serif;
  --material-icons: 'Material Icons';

  --muted-blue: rgb(41, 125, 183);
  --light-gray: rgb(200, 205, 206);
  --black: rgb(50, 51, 51);
  --white: rgb(254, 254, 254);
}