// All BodyText styles go here

.hero {
  margin-bottom: 15%;
  color: white;
  line-height: 44px;

  h5 {
    font-family: var(--base-font-family);
  }
  @media (min-width: 768px) {
    margin-right: 20%;
    margin-left: 5%;
  }
}