// All BodyText styles go here

.hero {
  color: var(--generic-black);
  line-height: 44px;
  text-align: center;

  &.isMobile {
    padding: 0 10px;
  }
}

.highlight {
  color: var(--muted-blue);
}