// All BodyText styles go here

.hero {
  margin-right: 25%;
  margin-bottom: 15%;
  color: white;
  line-height: 44px;
  h1,
  p {
    letter-spacing: 1.5px;
  }
  h1 {
    font-size: 44px;
  }
  p {
    font-size: 24px;
  }
}