// All Hero styles go here

.heroContainer {
  height: 100vh;
  background: linear-gradient(2deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(240,240,240,1) 50%, rgba(219,219,219,1) 100%);
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      width: 55%;
      text-align: center;
    }
  }
}

.headshot {
  border-radius: 50%;
  height: 225px;
  width: 225px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  margin: 25px;
}

:global {
  .highlight {
    color: #4284c0;
  }
}