// All Hero styles go here

.heroContainer {
  height: 100vh;
  .content {
    width: 60%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
}