// All Hero styles go here

.heroContainer {
  height: 100vh;
  .content {
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      width: 60%;
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    }
  }
}