/* These fonts are declared as mixins within './mixins.js' */

@font-face {
  font-family: 'Gotham-Medium';
  src: url('./fonts/Gotham-Medium.otf') format("opentype"),
    url('./fonts/Gotham-Medium.woff') format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('./fonts/Gotham-Light.otf') format("opentype"),
    url('./fonts/Gotham-Light.woff') format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./fonts/Gotham-Bold.otf') format("opentype"),
    url('./fonts/Gotham-Bold.woff') format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('./fonts/Gotham-Book.otf') format("opentype"),
    url('./fonts/Gotham-Book.woff') format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('./fonts/Gotham-Black.otf') format("opentype"),
    url('./fonts/Gotham-Black.woff') format("opentype");
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('./fonts/MaterialIcons-Regular.woff') format('woff'),
    url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Material Design Icons Light";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/materialdesignicons-light-webfont.eot?v=0.2.54");
  src: url("./fonts/materialdesignicons-light-webfont.eot?#iefix&v=0.2.54") format("embedded-opentype"),
    url("./fonts/materialdesignicons-light-webfont.woff2?v=0.2.54") format("woff2"),
    url("./fonts/materialdesignicons-light-webfont.woff?v=0.2.54") format("woff"),
    url("./fonts/materialdesignicons-light-webfont.ttf?v=0.2.54") format("truetype"),
    url("./fonts/materialdesignicons-light-webfont.svg?v=0.2.54#materialdesignicons-lightlight") format("svg");
}

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}