@import '../../globalStyles/mixin.scss';

.About {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 45vw;
  height: 100%;
  // background-image: url('https://unsplash.it/1610/600');
  .AboutText {
    height: 100%;
    padding: 20px;
    padding: 50px;
    text-align: center;
    @include FlexCenter;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    color: var(--generic-white);
    h1 {
      margin: 15px 0;
    }
  }
}
