@import '../../styles/variables.css';
/* @import '../../styles/mixins.css'; */

/*  Refer to https://materialdesignicons.com/ for icons 
These fonts are thiner and should be used
only if required
*/

.Icon {
  @mixin Icon Material Design Icons Light;
  
  &.account:before {
    content: "\f101";
  }

  &.alarm:before {
    content: "\f102";
  }

  &.alarm-plus:before {
    content: "\f103";
  }

  &.alert:before {
    content: "\f104";
  }

  &.alert-circle:before {
    content: "\f105";
  }

  &.alert-octagon:before {
    content: "\f106";
  }

  &.arrange-bring-forward:before {
    content: "\f107";
  }

  &.arrange-bring-to-front:before {
    content: "\f108";
  }

  &.arrange-send-backward:before {
    content: "\f109";
  }

  &.arrange-send-to-back:before {
    content: "\f10a";
  }

  &.arrow-down:before {
    content: "\f10b";
  }

  &.arrow-down-circle:before {
    content: "\f10c";
  }

  &.arrow-left:before {
    content: "\f10d";
  }

  &.arrow-left-circle:before {
    content: "\f10e";
  }

  &.arrow-right:before,
  &.arrow_forward:before {
    content: "\f10f";
  }

  &.arrow-right-circle:before {
    content: "\f110";
  }

  &.arrow-up:before {
    content: "\f111";
  }

  &.arrow-up-circle:before {
    content: "\f112";
  }

  &.bank:before {
    content: "\f113";
  }

  &.bell:before {
    content: "\f114";
  }

  &.bell-off:before {
    content: "\f115";
  }

  &.bluetooth:before {
    content: "\f116";
  }

  &.book:before {
    content: "\f117";
  }

  &.book-multiple:before {
    content: "\f118";
  }

  &.book-plus:before {
    content: "\f119";
  }

  &.bookmark:before {
    content: "\f11a";
  }

  &.border-all:before {
    content: "\f11b";
  }

  &.border-bottom:before {
    content: "\f11c";
  }

  &.border-horizontal:before {
    content: "\f11d";
  }

  &.border-inside:before {
    content: "\f11e";
  }

  &.border-left:before {
    content: "\f11f";
  }

  &.border-none:before {
    content: "\f120";
  }

  &.border-outside:before {
    content: "\f121";
  }

  &.border-right:before {
    content: "\f122";
  }

  &.border-top:before {
    content: "\f123";
  }

  &.border-vertical:before {
    content: "\f124";
  }

  &.briefcase:before {
    content: "\f125";
  }

  &.calendar:before {
    content: "\f126";
  }

  &.camcorder:before {
    content: "\f127";
  }

  &.camera:before {
    content: "\f128";
  }

  &.cancel:before {
    content: "\f129";
  }

  &.cart:before {
    content: "\f12a";
  }

  &.chart-areaspline:before {
    content: "\f12b";
  }

  &.chart-bar:before {
    content: "\f12c";
  }

  &.chart-histogram:before {
    content: "\f12d";
  }

  &.chart-line:before {
    content: "\f12e";
  }

  &.chart-pie:before {
    content: "\f12f";
  }

  &.check:before,
  &.done:before {
    content: "\f130";
  }

  &.chevron-double-down:before {
    content: "\f131";
  }

  &.chevron-double-left:before {
    content: "\f132";
  }

  &.chevron-double-right:before {
    content: "\f133";
  }

  &.chevron-double-up:before {
    content: "\f134";
  }

  &.chevron-down:before {
    content: "\f135";
  }

  &.chevron-left:before {
    content: "\f136";
  }

  &.chevron-right:before {
    content: "\f137";
  }

  &.chevron-up:before {
    content: "\f138";
  }

  &.clipboard:before {
    content: "\f139";
  }

  &.clipboard-check:before {
    content: "\f13a";
  }

  &.clipboard-plus:before {
    content: "\f13b";
  }

  &.clipboard-text:before {
    content: "\f13c";
  }

  &.clock:before {
    content: "\f13d";
  }

  &.closed-caption:before {
    content: "\f13e";
  }

  &.cloud:before {
    content: "\f13f";
  }

  &.cloud-download:before {
    content: "\f140";
  }

  &.cloud-upload:before {
    content: "\f141";
  }

  &.comment:before {
    content: "\f142";
  }

  &.comment-alert:before {
    content: "\f143";
  }

  &.comment-text:before {
    content: "\f144";
  }

  &.console:before {
    content: "\f145";
  }

  &.content-cut:before {
    content: "\f146";
  }

  &.content-duplicate:before {
    content: "\f147";
  }

  &.content-paste:before {
    content: "\f148";
  }

  &.content-save:before {
    content: "\f149";
  }

  &.content-save-all:before {
    content: "\f14a";
  }

  &.credit-card:before {
    content: "\f14b";
  }

  &.crop:before {
    content: "\f14c";
  }

  &.crop-free:before {
    content: "\f14d";
  }

  &.currency-eur:before {
    content: "\f14e";
  }

  &.currency-gbp:before {
    content: "\f14f";
  }

  &.currency-rub:before {
    content: "\f150";
  }

  &.currency-usd:before {
    content: "\f151";
  }

  &.delete:before {
    content: "\f152";
  }

  &.diamond:before {
    content: "\f153";
  }

  &.dots-horizontal:before {
    content: "\f154";
  }

  &.dots-vertical:before {
    content: "\f155";
  }

  &.download:before {
    content: "\f156";
  }

  &.eject:before {
    content: "\f157";
  }

  &.email:before {
    content: "\f158";
  }

  &.email-open:before {
    content: "\f159";
  }

  &.eye:before {
    content: "\f15a";
  }

  &.eye-off:before {
    content: "\f15b";
  }

  &.factory:before {
    content: "\f15c";
  }

  &.fast-forward:before {
    content: "\f15d";
  }

  &.file:before {
    content: "\f15e";
  }

  &.file-multiple:before {
    content: "\f15f";
  }

  &.file-plus:before {
    content: "\f160";
  }

  &.flag:before {
    content: "\f161";
  }

  &.flash:before {
    content: "\f162";
  }

  &.flask:before {
    content: "\f163";
  }

  &.flask-empty:before {
    content: "\f164";
  }

  &.folder:before {
    content: "\f165";
  }

  &.folder-multiple:before {
    content: "\f166";
  }

  &.folder-plus:before {
    content: "\f167";
  }

  &.format-align-bottom:before {
    content: "\f168";
  }

  &.format-align-center:before {
    content: "\f169";
  }

  &.format-align-justify:before {
    content: "\f16a";
  }

  &.format-align-left:before {
    content: "\f16b";
  }

  &.format-align-middle:before {
    content: "\f16c";
  }

  &.format-align-right:before {
    content: "\f16d";
  }

  &.format-align-top:before {
    content: "\f16e";
  }

  &.format-bold:before {
    content: "\f16f";
  }

  &.format-clear:before {
    content: "\f170";
  }

  &.format-float-center:before {
    content: "\f171";
  }

  &.format-float-left:before {
    content: "\f172";
  }

  &.format-float-none:before {
    content: "\f173";
  }

  &.format-float-right:before {
    content: "\f174";
  }

  &.format-indent-decrease:before {
    content: "\f175";
  }

  &.format-indent-increase:before {
    content: "\f176";
  }

  &.format-italic:before {
    content: "\f177";
  }

  &.format-line-spacing:before {
    content: "\f178";
  }

  &.format-list-bulleted:before {
    content: "\f179";
  }

  &.format-list-checks:before {
    content: "\f17a";
  }

  &.format-list-numbers:before {
    content: "\f17b";
  }

  &.format-quote-close:before {
    content: "\f17c";
  }

  &.format-quote-open:before {
    content: "\f17d";
  }

  &.format-underline:before {
    content: "\f17e";
  }

  &.format-wrap-inline:before {
    content: "\f17f";
  }

  &.format-wrap-square:before {
    content: "\f180";
  }

  &.format-wrap-tight:before {
    content: "\f181";
  }

  &.format-wrap-top-bottom:before {
    content: "\f182";
  }

  &.forum:before {
    content: "\f183";
  }

  &.fullscreen:before {
    content: "\f184";
  }

  &.fullscreen-close:before {
    content: "\f185";
  }

  &.gift:before {
    content: "\f186";
  }

  &.grid:before {
    content: "\f187";
  }

  &.grid-large:before {
    content: "\f188";
  }

  &.grid-off:before {
    content: "\f189";
  }

  &.group:before {
    content: "\f18a";
  }

  &.hamburger:before {
    content: "\f18b";
  }

  &.heart:before {
    content: "\f18c";
  }

  &.heart-half:before {
    content: "\f18d";
  }

  &.heart-off:before {
    content: "\f18e";
  }

  &.help:before {
    content: "\f18f";
  }

  &.help-circle:before {
    content: "\f190";
  }

  &.home:before {
    content: "\f191";
  }

  &.inbox:before {
    content: "\f192";
  }

  &.information:before {
    content: "\f193";
  }

  &.label:before {
    content: "\f194";
  }

  &.layers:before {
    content: "\f195";
  }

  &.lightbulb:before {
    content: "\f196";
  }

  &.lightbulb-on:before {
    content: "\f197";
  }

  &.link:before {
    content: "\f198";
  }

  &.link-variant:before {
    content: "\f199";
  }

  &.lock:before {
    content: "\f19a";
  }

  &.lock-unlocked:before {
    content: "\f19b";
  }

  &.login:before {
    content: "\f19c";
  }

  &.logout:before {
    content: "\f19d";
  }

  &.magnify:before {
    content: "\f19e";
  }

  &.magnify-minus:before {
    content: "\f19f";
  }

  &.magnify-plus:before {
    content: "\f1a0";
  }

  &.map-marker:before {
    content: "\f1a1";
  }

  &.memory:before {
    content: "\f1a2";
  }

  &.menu:before {
    content: "\f1a3";
  }

  &.message:before {
    content: "\f1a4";
  }

  &.message-alert:before {
    content: "\f1a5";
  }

  &.message-photo:before {
    content: "\f1a6";
  }

  &.message-processing:before {
    content: "\f1a7";
  }

  &.message-reply:before {
    content: "\f1a8";
  }

  &.message-text:before {
    content: "\f1a9";
  }

  &.message-video:before {
    content: "\f1aa";
  }

  &.microphone:before {
    content: "\f1ab";
  }

  &.microphone-off:before {
    content: "\f1ac";
  }

  &.minus:before {
    content: "\f1ad";
  }

  &.minus-box:before {
    content: "\f1ae";
  }

  &.minus-circle:before {
    content: "\f1af";
  }

  &.monitor:before {
    content: "\f1b0";
  }

  &.monitor-multiple:before {
    content: "\f1b1";
  }

  &.music:before {
    content: "\f1b2";
  }

  &.music-off:before {
    content: "\f1b3";
  }

  &.nfc:before {
    content: "\f1b4";
  }

  &.note:before {
    content: "\f1b5";
  }

  &.note-multiple:before {
    content: "\f1b6";
  }

  &.note-plus:before {
    content: "\f1b7";
  }

  &.note-text:before {
    content: "\f1b8";
  }

  &.paperclip:before {
    content: "\f1b9";
  }

  &.pause:before {
    content: "\f1ba";
  }

  &.pencil:before {
    content: "\f1bb";
  }

  &.phone:before {
    content: "\f1bc";
  }

  &.picture:before {
    content: "\f1bd";
  }

  &.pin:before {
    content: "\f1be";
  }

  &.pin-off:before {
    content: "\f1bf";
  }

  &.play:before {
    content: "\f1c0";
  }

  &.plus:before {
    content: "\f1c1";
  }

  &.plus-box:before {
    content: "\f1c2";
  }

  &.plus-circle:before {
    content: "\f1c3";
  }

  &.power:before {
    content: "\f1c4";
  }

  &.presentation:before {
    content: "\f1c5";
  }

  &.presentation-play:before {
    content: "\f1c6";
  }

  &.printer:before {
    content: "\f1c7";
  }

  &.redo-variant:before {
    content: "\f1c8";
  }

  &.refresh:before {
    content: "\f1c9";
  }

  &.repeat:before {
    content: "\f1ca";
  }

  &.repeat-off:before {
    content: "\f1cb";
  }

  &.repeat-once:before {
    content: "\f1cc";
  }

  &.rewind:before {
    content: "\f1cd";
  }

  &.rss:before {
    content: "\f1ce";
  }

  &.script:before {
    content: "\f1cf";
  }

  &.seek-next:before {
    content: "\f1d0";
  }

  &.seek-previous:before {
    content: "\f1d1";
  }

  &.settings:before {
    content: "\f1d2";
  }

  &.shape-circle:before {
    content: "\f1d3";
  }

  &.shape-hexagon:before {
    content: "\f1d4";
  }

  &.shape-octagon:before {
    content: "\f1d5";
  }

  &.shape-rhombus:before {
    content: "\f1d6";
  }

  &.shape-square:before {
    content: "\f1d7";
  }

  &.shape-triangle:before {
    content: "\f1d8";
  }

  &.shield:before {
    content: "\f1d9";
  }

  &.shuffle:before {
    content: "\f1da";
  }

  &.signal:before {
    content: "\f1db";
  }

  &.sitemap:before {
    content: "\f1dc";
  }

  &.sleep:before {
    content: "\f1dd";
  }

  &.sleep-off:before {
    content: "\f1de";
  }

  &.spellcheck:before {
    content: "\f1df";
  }

  &.star:before {
    content: "\f1e0";
  }

  &.star-half:before {
    content: "\f1e1";
  }

  &.stop:before {
    content: "\f1e2";
  }

  &.tab:before {
    content: "\f1e3";
  }

  &.tab-plus:before {
    content: "\f1e4";
  }

  &.table:before {
    content: "\f1e5";
  }

  &.taco:before {
    content: "\f1e6";
  }

  &.tag:before {
    content: "\f1e7";
  }

  &.television:before {
    content: "\f1e8";
  }

  &.thumb-down:before {
    content: "\f1e9";
  }

  &.thumb-up:before {
    content: "\f1ea";
  }

  &.thumbs-up-down:before {
    content: "\f1eb";
  }

  &.tooltip:before {
    content: "\f1ec";
  }

  &.tooltip-text:before {
    content: "\f1ed";
  }

  &.trophy:before {
    content: "\f1ee";
  }

  &.undo-variant:before {
    content: "\f1ef";
  }

  &.unfold-less-horizontal:before {
    content: "\f1f0";
  }

  &.unfold-less-vertical:before {
    content: "\f1f1";
  }

  &.unfold-more-horizontal:before {
    content: "\f1f2";
  }

  &.unfold-more-vertical:before {
    content: "\f1f3";
  }

  &.ungroup:before {
    content: "\f1f4";
  }

  &.upload:before {
    content: "\f1f5";
  }

  &.view-dashboard:before {
    content: "\f1f6";
  }

  &.view-module:before {
    content: "\f1f7";
  }

  &.volume:before {
    content: "\f1f8";
  }

  &.volume-minus:before {
    content: "\f1f9";
  }

  &.volume-mute:before {
    content: "\f1fa";
  }

  &.volume-off:before {
    content: "\f1fb";
  }

  &.volume-plus:before {
    content: "\f1fc";
  }

  &.wifi:before {
    content: "\f1fd";
  }

  &.xml:before {
    content: "\f1fe";
  }
}