@import '../../styles/variables.css';
@import '../../styles/mixins.css';

:local(.Modal) {
  z-index: $modal-z-index;
  position: fixed;
  @mixin PositioningTopLeft;
  @mixin FullWidthHeight;
  transition: all .25s ease;
  @media (--desktopAll) {
    &:not(:hover) {
      overflow-y: hidden;
    }
    &:hover {
      overflow-y: auto;
    }
  }
  @media (--tabletAndMobile) {
    overflow-y: auto;
  }
  &:not(:local(.isOpen)) {
    visibility: hidden;
    opacity: 0;
  }
}

:local(.isOpen) {
  @media print {
    position: static !important;
  }
}

:local(.Modal-consumer) {
  background: $consumerHeader-PrimaryBackground;
}

:local(.Modal-business) {
  background: $businessHeader-PrimaryBackground;
}

:local(.Modal-pro-photo-video) {
  background: $black;
  color: $white;
}

:local(.CloseButton) {
  background: $red;
  height: 30px;
  width: 30px;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  top: $modalDesktopPadding;
  right: $modalDesktopPadding;
  z-index: $modal-z-index;
  -webkit-transform: translateZ(0);
  @media (--desktopAll) {
    top: $modalDesktopPadding;
    right: $modalDesktopPadding;
  }
  @media (--tablet) {
    top: $modalTabletPadding;
    right: $modalTabletPadding;
  }
  @media (--mobile) {
    top: $modalMobilePadding;
    right: $modalMobilePadding;
  }
  svg {
    fill: $white;
  }
}