@import '../../styles/variables.css';
@import '../../styles/mixins.css';
@import './slick/slick.css';

:local(.Carousel) {
  &:not(:local(.isVerticalCarousel)) {
    :global {
      .slick-dots {
        bottom: 35px;
        li {
          margin: 0;
          width: $carouselDotSize;
          height: $carouselDotSize;
          line-height: $carouselDotSize;
        }
        button {
          width: $carouselDotSize;
          height: $carouselDotSize;
          line-height: $carouselDotSize;
          &:before {
            width: 5px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
        }
      }
      .slick-prev,
      .slick-next {
        height: 42px;
        width: 42px;
        z-index: 1;
        svg g {
          stroke: $red;
        }
        &:before,
        &:after {
          content: ''
        }
      }
      .slick-prev {
        left: 19px;
      }
      .slick-next {
        right: 19px;
      }
    }
  }
  &:not(:local(.CarouselFullWidthMobile)) {
    :global {
      @media (--mobile) {
        .slick-slide {
          width: 95vw !important;
          margin-right: 4px;
        }
      }
    }
  }
  :global {
    .slick-slide {
      border: none !important;
    }
    :not(.slick-active) {
      button {
        &:before {
          color: $darkGrey !important;
          opacity: 0.5 !important;
        }
      }
    }
    .slick-active {
      button {
        &:before {
          color: $red !important;
          opacity: 1 !important;
        }
      }
    }
  }
  &:global(.slick-slider) {
    margin-bottom: 0 !important;
  }
}

:local(.CarouselFullWidthMobile) {
  :global {
    @media (--mobile) {
      .slick-slide {
        width: 100vw !important;
      }
    }
  }
}

:local(.isVerticalCarousel) {
  :global {
    .slick-dots {
      bottom: 50%;
      text-align: left;
      display: flex !important;
      flex-direction: column;
    }
  }
}